.side-bar-container {
  position: relative;
  float: left;
  width: 15%;
  height: 100%;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.side-bar-inner-container {
  position: relative;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 95%;
}

.nav-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Roboto;
  height: 50%;
}

.course-header {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
}

.course-nav-container {
  margin-top: 50px;
}
