.courses-container {
  position: relative;
  width: 90%;
  top: 50px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);

  justify-content: space-between;
  flex-wrap: wrap;
}

.course-column {
  position: relative;
  display: inline-block;
  width: 23%;
  margin-bottom: 30px;
}

.category-header {
  padding: 10px 15px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 3px;
}

.math {
  background-color: #ff4757;
}

.computer-science {
  background-color: #3742fa;
}

.biology {
  background-color: #1abc9c;
}

.chemistry {
  background-color: #2ed573;
}

.engineering {
  background-color: #e67e22;
}

.course-list {
}
